
html{
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.8rem;
  font-family: "Times New Roman", Times , san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #ffb6c1;

}

main {
  grid-area: main;
  padding: 1rem;
  background: linear-gradient(to right, #eef2ee, #e7fbbe, #fee3ec);
  width: 100%;
  height: 100%;
  margin: 0;
}

footer {
  grid-area: footer;
  background-color: #afeeee;
  color: #ff6363;
}

/* Common */
a {
  text-decoration: none;
}

h1 {
  padding: 1rem;
  font-size: 1.8rem;
}

h2 {
  padding: 1rem ;
  font-size: 1.6rem;
}
a:hover {
  color: #ff6363;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover{
  border: 0.1rem solid #000000;
}
button.primary {
  background-color: #ffc0cb;
  margin: 0;
}
button.block {
    width: 100%;
}
button.small {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
/* header */
header a {
  color: #1c6dd0;
  font-family: cursive;
  padding: 1rem;
}
a.brand {
  font-size: 3rem;
  font-family: papyrus;
  font-weight: bold;
  color: #ffff;
}

.badge {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.1rem 0.7rem;
  font-size: 1.7rem;
  margin-left: 0.3rem;
}
.row.center {
  justify-content: center;
}
.row {
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
}
.row.top {
  align-items: flex-start;
}

.col-1 {
  margin-right: 0.5rem;
  flex:  1 1 30rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 7rem;
  height: 8rem;
}
img.medium {
  width: 29rem;
  height: 320px;

}
img.large {
  max-width: 50rem;
  width: 100%;
  border-radius: 2rem;
  margin: 1.5rem;
}

.card {

  border: 0.1rem #c0c0c0 solid;
  background-color: #f7ecf7;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  margin-right: 2rem;
  padding: 1rem;
  background: linear-gradient(to right, #eef2ee, #e7fbbe, #fee3ec);

}

.card-body > *{
  margin-bottom: 0.5rem;

}

.price {
  font-size: 2rem;
}
/* rating */
.rating {
  color: yellow;
  margin: 0.1rem;
}
.rating span:last-child{
  color: #404040;
}
/*Alert */
.loading{
  display: block !important;
}
.success {
  color: #ff6363;
}
.danger {
  color: #ff0000;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #1c6dd0;
  background-color: #f7ecf7;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #1c6dd0;
  background-color: #afeeee;
}
/*Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content {
  text-align: center;
  position: absolute;
  display: none;
  right: 0;
  min-width: 15rem;
  z-index: 1;
  background-color: #cfffdc;
  margin: 0.5rem;
  border-radius: 1.5rem;
}
.dropdown:hover .dropdown-content{
  display: block;
}
/* Checkout Step */
.checkout-steps > div {
  border-top: 0.3rem #84dfff solid;
  padding: 1rem;
  flex: 1;
  color: #ffe0e0;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #ff6363;
  color: #ff6363;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
.icon {
  color: #146356;
}
/* Search*/
.search button {
  border-radius: 0.5rem 0.5rem ;
  border-right: none;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0.5rem ;
  border-right: none;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.active {
  font-weight: bold;
}
.del {
  color: #a02020;
}
/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}